<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cproz.pantomath">
    <!-- Permissions used -->
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan"
        tools:ignore="AllowBackup"
        tools:replace="android:allowBackup">
        <activity android:name=".StudentProfile.ResetPasswordProfile"
            android:parentActivityName=".StudentProfile.Settings"/>
        <activity
            android:name=".Home.SearchActivity"
            android:parentActivityName=".Home.Home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditQuestion.EditQuestion"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".NotificationGenie">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notific_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue" />

        <activity
            android:name=".About.About"
            android:parentActivityName=".StudentProfile.Settings" />
        <activity
            android:name=".AdditionalInfo.AdditionalInfo"
            android:parentActivityName=".Signup.PackageSelection" />
        <activity
            android:name=".NotVerified"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".Feedback.Feedback"
            android:hardwareAccelerated="true"
            android:parentActivityName=".StudentProfile.Settings"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Home.Image"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Home.DoubtDetails"
            android:theme="@style/imageView" />
        <activity
            android:name=".Signup.PackageSelection"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".Login.ResetPassword"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Login.Login" />
        <activity
            android:name=".Home.DoubtDetails"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Home.Home" />
        <activity
            android:name=".StudentProfile.Settings"
            android:hardwareAccelerated="true"
            android:parentActivityName=".StudentProfile.StudentProfile"
            android:theme="@style/uploadFragment" />
        <activity
            android:name=".StudentProfile.StudentProfile"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Home.Home"
            android:theme="@style/uploadFragment" />
        <activity
            android:name=".Upload.UploadImagePage"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Home.Home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Home.Home"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/uploadFragment"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" /> <!-- activity ProfilePicture -->
        <activity
            android:name=".Signup.ProfilePictureSignup"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Signup.Password"
            android:screenOrientation="portrait" /> <!-- activity passwordSignup -->
        <activity
            android:name=".Signup.Password"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Signup.NewAccount"
            android:screenOrientation="portrait" /> <!-- activity new Acc -->
        <activity
            android:name=".Signup.NewAccount"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Login.Login" /> <!-- activity login -->
        <activity
            android:name=".Login.Login"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>